<html>
  <head>
    <title>GanbaRuby's Page</title>
    <style>
      p {
        text-align:Center
      }
    </style>
  </head>
  <body>
    <div>
      <h1 style="text-align:Center"><a href="https://sunshine.dengeki.com/vote/invms7xycvmx/">4th Single vote page</a></h1>
    </div>
    <div>
      <p style="margin-top:50px;margin-bottom:50px;text-align:Center">
      <img src="https://vignette.wikia.nocookie.net/love-live/images/7/76/Believe_again%EF%BC%8FBrightest_Melody%EF%BC%8FOver_The_Next_Rainbow_Cover.png/revision/latest?cb=20190116033847" width="60%">
      </p>
      <p>Vote <a style="color:hotpink;font-size:28">Ruby</a></p>
      <p style="color:red;font-size:40">for 4th Center!!!</p>
    </div>
  </body>
</html>
